<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Smart Library!</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: 20px auto;
        }
    </style>
</head>
<body>
<h1>Smart Library</h1>
<hr>

{% block content %}
{% endblock %}

</body>
</html>